<div class="flag_wrapper">
<div class="buy_flag_wrapper_left">
	<div class="buy_flag_text_area_left">
		<div class="buy_flag_text_title_left">Buy</div>
		<div class="buy_flag_text_left">*<%= co.starting_bid %></div>
	</div>
	<div class="buy_flag_handle_wrapper_left">
		<div class="buy_flag_handle_left"></div>
		<div class="buy_flag_no_handle_left"></div>
	</div>				
</div>
</div>
