<div class="buy_flag_wrapper_right">
	<div class="buy_flag_text_area_right">
		<div class="buy_flag_text_title_right">Buy</div>
		<div class="buy_flag_text_right">*<%= co.starting_bid %></div>
	</div>
	<div class="buy_flag_handle_wrapper_right">
		<div class="buy_flag_handle_right"></div>
		<div class="buy_flag_no_handle_right"></div>
	</div>				
</div>
