body {
	background-image: url("../images/init_bidding_bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	background-attachment:fixed;
}

/* basic structure */

.main_wrapper {
	width: 900px;
	height: 730px;
	position: absolute;
	top: 50%;
	margin-top: -365px;
	left: 50%;
	margin-left: -450px;
	background-color: #334c84;
	background-color: rgba(51,75,132,0.7);	
	border: 6px solid #161617;
	-mox-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;	
}

.init_bidding_title {
	height: 40px;
	line-height: 40px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	vertical-align: middle;
	text-align: center;
	font-size: 22px;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 2px #f3e852;
}

.subheader {
	height: 20px;
	line-height: 20px;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #f3e852;
	font-weight: normal;
	font-style: italic;
	vertical-align: middle;
	text-shadow: 1px 1px 1px black;
}

.subheader_text_left {
	float: left;
	margin-left: 60px;
}

.subheader_text_right {
	float: right;
	margin-right: 60px;
}

.two_box_wrapper {
	height: 200px;
}


.sunken_box_left_wrapper {
	float: left;
	margin-left: 30px;
}

.sunken_box_right_wrapper {
	float: right;
	margin-right: 30px;
}

.sunken_box {
	position: relative;
	width: 392px;
	height: 192px;
	background-color: #c4c4c4;
	background-color: rgba(127,127,127,0.7);
	border: 4px solid black;
	-moz-box-shadow: 0px 0px 14px 7px black inset;
	-webkit-box-shadow: 0px 0px 14px 7px black inset;
	box-shadow: 0px 0px 14px 7px black inset;
	-mox-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 12px;
}

.mid_one_box_wrapper {
	height: 206px;
	margin-top: 17px;
	margin-bottom: 17px;
}

.mid_box_wrapper {
	width: 768px;
	height: 200px;		
	border: 5px solid black;
	-mox-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left: 61px;
	margin-right: 61px;
	overflow: hidden;
}

.mid_box_sect {
	float: left;
	width: 180px;
	height:190px;
	padding: 5px;
	background-color: black;
	background-color: rgba(0,0,0,0.7);
}

/* end basic structure */

/* start of co numbers (top left) */

.co_num_wrapper {
	width: 360px;
	height: 180px;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	left: 50%;
	margin-left: -180px;
}

.co_num_sale_line {
	height: 60px;
	line-height: 60px;
}

.co_num_sale {
	position: relative;
	float: left;
	font-family: courier new, monospace;
	color: #f3e852;
	background-color: #334c84;
	background-color: rgba(51,76,132, 0.8);
	font-size: 20px;
	font-weight: bold;
	width: 30px;
	height: 29px;
	line-height: 30px;
	margin: 13px;
	border: 2px solid black;
	vertical-align: middle;
	text-align: center;
	-mox-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
	padding-top: 1px;
}

/* end of co numbers (top left) */

/* start of co info (top right) */

.co_info_wrapper {
	position: absolute;
	width: 300px;
	height:156px;	
	top: 50%;
	margin-top: -80px;
	left: 50%;
	margin-left: -150px;
	background-color: #c4c4c4;
	background-color: rgba(196,196,196, 0.8);
	border: 2px solid black;
	-mox-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	display: none;
}

.co_title_line {
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
	
}

.co_title_num {
	font-family: courier new, monospace;
	font-size: 20px;
	text-align: center;
	width: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	color: #f3e852;
	background-color: #334c84;
	background-color: rgba(51,76,132, 0.8);
	float: left;
}

.co_title_name {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 13px;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	border-left-width: 2px;
	border-left-color: black;
	border-left-style: solid;
	color: #334c84;
	float: left;
}

.co_text_box {
	font-family: arial, sans-serif;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	color: black;
	line-height: 16px;
}

/* end of co info (top right) */

/* start of other player info (bottom left) */

.other_player_info_wrapper {
	position: absolute;
	width: 360px;
	height: 160px;
	top: 50%;
	margin-top: -80px;
	left: 50%;
	margin-left: -180px;
}

.other_player_info_list {
	width: 148px;
	height: 160px;
	float: left;
	font-size: 12px;
	font-family: arial, sans-serif;
}

.other_player_info_line {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	width: 148px;
}

.other_player_info_line_current_player {
	width: 20px;
	height: 28px;
	float: left;
	color: white;
	background-color: #a83b46;
	background-color: rgba(168,59,70,0.8);
	text-align: center;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #a83b46;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #a83b46;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #a83b46;
	-mox-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.other_player_info_line_text {
	float: right;
	color: black;
	text-align: left;
	width: 116px;
	padding-right: 4px;
	padding-left: 4px;
	height: 30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: black;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.other_player_info_box {
	height: 154px;
	float: right;
	width: 208px;
	border: 2px solid black;
	background-color: #c4c4c4;
	background-color: rgba(196,196,196,0.8);
	text-align: center;
	-mox-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.other_player_info_box_title {
	color: #f3e852;
	line-height: 26px;
	height: 30px;
	margin: 7px 0;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #334c84;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;	
	vertical-align: middle;
}

.other_player_info_box_cols {
	height: 100px;
	margin-bottom: 10px;
}

.other_player_info_box_col {
	width: 102px;
	float: left;
	font-size: 12px;
	font-family: arial, sans-serif;
	color: black;
	line-height: 20px;	
}

/* end of other player info (bottom left) */
