* {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	text-align: center;
}

.wrapper {
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -335px;
	border: 6px solid black;
	height: 500px;
	width: 737px;
	overflow: none;
	-mox-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 6px 6px 6px blue;
	-webkit-box-shadow: 6px 6px 6px blue;
	box-shadow: 6px 6px 3px #a9a9a9;
}

.login_graphic {
	float:left;
	width: 367px;
	height: 500px;
}

.login_area {
	float:right;
	height: 500px;
	width: 367px;
	background-color:  #334c84;
	color: black;
	font-family:  arial, sans-serif;
	font-size:  18px;
	border-left-width: 3px;
	border-left-color: black;
	border-left-style: solid;
}

.login_box {
	margin: 44px 26px;
	width: 300px;
	height: 400px;
	background-color: #a7a7a7;
	border:3px solid black;
	-mox-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px 3px black;
	-webkit-box-shadow: 3px 3px 3px black;
	box-shadow: 3px 3px 3px black;
	padding: 6px;
}

.player_wait {
	line-height: 25px;
	font-family: courier new, monospace;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
	color: black;
	font-weight: normal;
}

.login_event_text {
	font-family: arial, sans-serif;
	color: black;
	font-size: 18px;
	text-align: center;
	padding: 6px;
}

.bidding {
	position: absolute;
	width: 180px;
	height: 160px;
	background-color: #E3E0E0;
	font-family: courier new, monospace;
	font-size: 10px;
	color: black;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	margin: 7px;
	border: 3px solid black;
	-mox-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px 3px black;
	-webkit-box-shadow: 3px 3px 3px black;
	box-shadow: 3px 3px 3px black;
}	

.bidding_name_line {
	width: 180px;
	height: 38px;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.bidding_number {
	background-color: #334c84;
	color: yellow;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 3px 3px 3px black;
	width: 40px;
	height: 38px;
	float: left;
	line-height: 38px;
}

.bidding_name {
	height: 38px;
	width: 138px;
	text-align: center;
	float: right;
	border-left-color: black;
	border-left-width: 2px;
	border-left-style: solid;
	vertical-align: middle;
}

.bidding_second_line {
	width: 180px;
	height: 88px;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	text-align: center;

.bidding_third_line {
	width: 180px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.mid_align {
	vertical-align: middle;
	height: 100%;
}

table {
	text-align: center;
}	





.params_debug {
	position: absolute;
	clear: both;
	float: right:
	top: 90%;
	text-align: left;
	font-family: Courier New, monospace;
	font-size: 10px;
}
