<div class="player_wait">
	<span id='player_<%= player.player_number %>' style='color: <%= raw player.activated? ? "green;'>[Active!]" : "red;'>[Waiting]" %></span>
<%= player.customer.username %>
</div>
