<div class="wrapper">

	<div class="login_graphic">
		<%= image_tag "2038_box_cover.jpg" %>
	</div>
	
	<div class="login_area">
		<span style="text-align: center;">
			Welcome!  Please log in.
		</span>
		<br />
		<span style="text-align: left; margin-left: 20px;">
			Username:<br />
			Password:<br />
		</span>
	</div>

</div>
